body {
    margin: 0;
    padding: 0;
    
}
.headerContainer { 
    background-image: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/110940/110940_00_2x.jpg?20160817223433"); 
    background-position: center; 
    background-size: cover;
    padding: 20px 25px;
    display: flex; 
    justify-content: right;
    align-items: center; 
}

.headerContainer h2 {
    margin: 0;
    color: rgba(255, 6, 35, 0.749);
    text-shadow: 9px -30px 10px #ff6666a6;
    font-size: 40px;
    text-transform: uppercase; 
    font-weight: 700; 
    
}

.icon__magazine {
    width: 40px;
    margin: 0;
}

.navLinkHome,
.navLinkMyProfile,
.navLinkMagazineTurbo,
.navLinkMagazineCart,
.loginAuth {
    width: 40px;
    margin-left: 20px;
    position: static;
    transition: .2s ease-in;
    cursor: pointer;
}

.navLinkHome:hover,
.navLinkMyProfile:hover,
.navLinkMagazineTurbo:hover,
.navLinkMagazineCart:hover,
.loginAuth:hover {
    transform: scale(1.15);
    background: #0040c9a2;
    border-radius: 25px;
    width: auto;
    padding: 2px;
    width: 45px;
}

.input__dataFname, 
.input__dataLname, 
.input__dataMname, 
.input__dataAge, 
.input__dataCity {
    width: 200px; 
    height: 32px;
    padding: 0 12px;
    margin: 10px 3px;
    border-radius: 5px;
    border: 1px solid red;
    transition: border .2s ease-in;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input__dataFname:hover, 
.input__dataLname:hover, 
.input__dataMname:hover, 
.input__dataAge:hover, 
.input__dataCity:hover {
    transform: scale(1.12);
    border: 1px solid green;
    font-family: 'Times New Roman', Times, serif;
}

.input__dataFname:focus, 
.input__dataLname:focus, 
.input__dataMname:focus, 
.input__dataAge:focus, 
.input__dataCity:focus {
    outline: none;
    border: 1px solid rgb(0, 255, 30);
}

.buttonAddProduct {
    height: 32px;
    width: 220px;
    font-size: 15px;
    text-align: center;
    margin: 40px;
    background-color: rgba(165, 42, 42, 0.845);
    border: 1px solid #0bf507;
    border-radius: 4px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    transition: all .5s;
}

.buttonAddProduct:hover {
    transform: scale(1.1);
    background-color: rgba(0, 185, 31, 0.701);
    border: none;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.profile-message {
    background: rgba(0, 132, 239, 0.9); 
    padding: 30px;
    border-radius: 10px;
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 40px auto;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.profile-message a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.799);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 12px;
    transition: all .3s;
}
.profile-message a:hover {
    background: rgba(37, 37, 37, 0.799)
    
}

.containerProfile {
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 15px;
    color: white;
    margin: 40px auto;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    border: 2px solid white;
    position: relative;
}

.containerProfile h1, 
.containerProfile h3, 
.containerProfile p {
    text-shadow: 1px 1px 2px rgba(142, 1, 1, 0.8);
}

.login-container {
    background-image: url("https://i.pinimg.com/736x/09/e9/14/09e914e52251643bc2061c4eff8ab17b.jpg");
    background-position: center;
    padding: 30px;
    border-radius: 15px;
    margin: 40px auto;
    max-width: 500px;
    padding-bottom: 50px;
    box-shadow: 2px 4px 20px rgba(194, 0, 0, 0.737);
}

.login-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    font-style: italic;
    font-weight: lighter;
    font-variant: small-caps;
    text-align: center;
}

.login-container button {
    padding: 0 24px;
    width: 225px;
    height: 45px;
    border: 1px solid #ffffff;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 3px;
    transition: all .5s;
    background-color: rgb(46, 46, 46);
    color: #ffffff;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: rgba(65, 65, 65, 0.984);
    width: 240px;
    height: 50px;
    box-shadow: 1px 8px 10px rgb(0, 149, 248);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.message {
    margin-top: 20px;
    color: rgb(249, 255, 250);
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}

.errorPAGE {
    background:#ffffff;
    padding: 0 20px;
    border: 1px solid red;
    border-radius: 12px;
}

.magazineContainer {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

.ProductsContainer h2 {
    text-align: center;
    margin: auto;
    font-family: serif;
    font-size: 30px;
    align-items: center;
    padding-top: 50px;
    color: ghostwhite;
}

hr {
    border: 2px solid brown;
}

.productItem {
    display: flex;        
    flex-wrap: wrap;        
    gap: 20px;              
    justify-content: center;
}


.cardProduct {
    width: 200px;
    border-radius: 9px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;   
    padding: 10px;
    background: rgba(255, 255, 255, 0.959);
    box-shadow: 12px 30px 40px 2px rgba(177, 177, 177, 0.121);
    transition: all .3s;
}
.cardProduct:hover {
    transform: scale(1.1);
    background-color: deepskyblue;
    padding: 10px;
    margin: 7px;
    padding-top: 19px;
}
.cardProduct img {
    width: 100%;
    border-radius: 4px;
}

.cardProduct h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:900;
    color: black;
}

.cardProduct p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: 500;
    margin: 1px;
}

.inputProductName, 
.inputProductPrice,
.inputProductCategory,
.inputProductQuantity,
.inputProductImage {
    width: 190px;
    margin: 5px;
    padding: 0 20px;
    outline: none;
    text-transform: lowercase;
    font-size: 14px;
    font-family: cursive;
    transition: all .5s;
}

.inputProductName:hover,
.inputProductPrice:hover,
.inputProductCategory:hover,
.inputProductQuantity:hover,
.inputProductImage:hover {
    border: 1px solid rgb(255, 0, 149);
    border-radius: 3px;
    width: 195px;
    height: auto;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.helloMessage {
    text-align: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);  
    
}

.home-element {
    background-color: #4b4b4b93;
    height: 80px;
}

.home-element h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0;
    color: #ffffff;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
}

.home-element a {
    text-decoration: none;
    background-color: #0a0909;
    color: rgb(11, 12, 14);
    width: 420px;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    margin: 45px;
    transition: all .3s;
    color: #ffffff;
}
.home-element a:hover {
    transform: scale(1.25);
    background-color: #cf0505cc;
}

.h1-404 {
    text-align: center;
    flex-direction: column;
    font-size: 150px;
    font-weight: 600;
    color: #ffffff;
}

.errorContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.errorContainer p {
    font-size: 16px;
    color: #ffffff;
    margin: 20px;
}

.errorContainer a {
    text-decoration: none;
    background-color: #0a0909;
    color: rgb(11, 12, 14);
    width: 420px;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    margin: 45px;
    transition: all .3s;
    color: #ffffff;
}
.errorContainer a:hover {
    transform: scale(1.25);
    background-color: #cf0505cc;
}

